@media (max-width: 500px){
.headlines {
    font-family: 'Lora', serif;
    color: #6495ED;
}
p {
    font-family: Helvetica, Arial, sans-serif;
}
main {
    background-color: blue;
    color:#FAEBD7
}
.post-content a:link, a:visited  {
    color: #FAEBD7;
    text-decoration: none;
}
.post-content a:active {
    color: #DEB887;
}
.post-content a:hover {    
     color: white;
     text-decoration: underline;
}

header a:link, a:visited {
    color: #6495ED;
    text-decoration: none;
}
header a:active {
    color: #DEB887; 
}
header a:hover {
    text-decoration:underline;
}
/*
.headlines:link, a:visited {
    color: black;
    text-decoration: none;
}
.headlines a:active {
    color: #DEB887;
}
.headlines a:hover {
    color: #6495ED
    text-decoration: underline;
}*/

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
    image-rendering:optimizeQuality;
}
}